<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<div style="float:right;text-align:right"> <a class="links_grey" href="#">View Cart</a> &nbsp;&nbsp;&nbsp; <a class="links_grey" href="registration">Register</a> &nbsp;&nbsp;&nbsp; <a class="links_orange" href="sign_in">Signin</a> <br>
  <br>
  <table cellspacing="0" cellpadding="0">
    <form class="forms" method="post">
    </form>
    <tbody>
      <tr>
        <td><input type="text" class="searchbox"></td>
        <td><input type="submit" class="bt_search" value="Search"></td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>
